<div class="jumbotron jumbotron-fluid header-img">
    <div class="header-overlay">
      <div class="container p-5">
        <center><img src="http://static1.squarespace.com/static/56642c7fe4b08333d1fb2d8a/t/566643baa12f444e2a9666bf/1552502983859/?format=1500w" style="width:400px" class="mt-3 mb-3 "></center>
      </div>
    </div>
</div>